target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Env / secrets ###
.env
.env.local

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### Eclipse ###
.settings/
.classpath
.project
.factorypath

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
